# virtual env
venv/
.venv/

# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# jupyter
.ipynb_checkpoints/

# training artifacts
runs/
checkpoints/
*.pt
*.pth

# env
.env
.git

# OS
.DS_Store
Thumbs.db

# vscode
.vscode